<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Benjamin Najib">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Benjamin Najib professional website">
    <title>Benjamin Najib</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname"> Benjamin Najib </h1>
        <nav>
            <a href="../index.html">about</a>
            <a href="cv.html">resume</a>
            <a href="contact.html">contact</a>
            <a href="fun.html">fun</a>
        </nav>
    </header>
    <div>
        <main>
            <h2> Curriculum Vitae </h2>
            <table>
                <tr>
                    <th align="left">Name</th>
                    <th align="left">Description</th>
                </tr>
                <tr>
                    <td>Carnegie Mellon University</td>
                    <td>B.S. Information Systems</td>
                </tr>
                <tr>
                    <td>La Doctrine Chrétienne</td>
                    <td>Specialties: Mathematics, Physics, Engineering</td>
                </tr>
                <tr>
                    <td>INSA Strasbourg</td>
                    <td>Electrical Engineering Internship</td>
                </tr>
                <tr>
                    <td>University of Florida</td>
                    <td>Artificial Intelligence Research Assistanceship</td>
                </tr>
            </table>
            <a href="../static/resume.pdf" target="_blank"> My resume (pdf) </a>
        </main>
    </div>
    <footer>
        <p id="copyYear"></p>
    </footer>
</body>
</html>