<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Benjamin Najib">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Benjamin Najib professional website">
    <title>Benjamin Najib</title>
</head>
<body style="font-family: Arial;">
    <header>
        <h1 id="webname"> Benjamin Najib </h1>
        <nav>
            <a href="../index.html">about</a>
            <a href="cv.html">resume</a>
            <a href="contact.html">contact</a>
            <a href="fun.html">fun</a>
        </nav>
    </header>
    <div>
        <main>
            <h2> Things I love to do for fun </h2>
            <ul>
                <li> Reading philosophy books. </li>
                <li> Listening to a variety of music. </li>
                <li> Watching classic movies. </li>
                <li> Hanging out with friends. </li>
                <li> Traveling around the world. </li>
            </ul>
        </main>
    </div>
    <footer>
        © 2025 designed 🎨 and coded 🧑🏽‍💻 by Benjamin Najib
    </footer>
</body>
</html>